hbaseNiFi.json
{"flowContents":{"identifier":"661a4f8d-3613-3c77-9a50-24b96b930512","instanceIdentifier":"60183894-ed92-1a4d-95eb-76db7d644401","name":"hbase","comments":"","position":{"x":720.0,"y":224.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"eb5c427b-c457-3b9b-b9f8-6f92fdbe3939","instanceIdentifier":"6018389e-ed92-1a4d-0d00-4b7c1028d3d7","name":"PutHBaseCell","comments":"","position":{"x":480.0,"y":848.0},"type":"org.apache.nifi.hbase.PutHBaseCell","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase-nar","version":"1.22.0"},"properties":{"Row Identifier":"${row}","Table Name":"YOURTABLENAMEVARIABLE","Row Identifier Encoding Strategy":"String","Batch Size":"25","Column Family":"${fam}","Column Qualifier":"${qual}","HBase Client Service":null,"timestamp":"${ts}"},"propertyDescriptors":{"Row Identifier":{"name":"Row Identifier","displayName":"Row Identifier","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Row Identifier Encoding Strategy":{"name":"Row Identifier Encoding Strategy","displayName":"Row Identifier Encoding Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Column Family":{"name":"Column Family","displayName":"Column Family","identifiesControllerService":false,"sensitive":false},"Column Qualifier":{"name":"Column Qualifier","displayName":"Column Qualifier","identifiesControllerService":false,"sensitive":false},"HBase Client Service":{"name":"HBase Client Service","displayName":"HBase Client Service","identifiesControllerService":true,"sensitive":false},"timestamp":{"name":"timestamp","displayName":"Timestamp","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"ac485544-5f5d-380c-b433-da8ecef41f22","instanceIdentifier":"60183896-ed92-1a4d-f43c-f90d436fdda7","name":"SplitRecord","comments":"","position":{"x":472.0,"y":-136.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Record Writer":"481ccc9e-1251-3ff6-88f6-dce72778c942","Record Reader":"0b19172a-122d-3548-aab3-5f048280cf5a","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"a4d139e0-d508-331f-a651-f09dca664f7a","instanceIdentifier":"60183899-ed92-1a4d-c062-0734a669df77","name":"GenerateFlowFile","comments":"","position":{"x":464.0,"y":-328.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[{\"row\":\"a\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data4d\",\"ts\":1686774352526}]},\n{\"row\":\"a12\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data4d\",\"ts\":1686775274357}]},\n{\"row\":\"abc10\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data4dy\",\"ts\":1686871364635}, {\"fam\":\"cf1\",\"qual\":\"name3\",\"val\":\"data4dy\",\"ts\":1686871384522}, {\"fam\":\"cf1\",\"qual\":\"name5\",\"val\":\"data4dy\",\"ts\":1686871428403}]},\n{\"row\":\"abc11\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data46dy\",\"ts\":1686871364664}, {\"fam\":\"cf1\",\"qual\":\"name3\",\"val\":\"data46dy\",\"ts\":1686871384541}, {\"fam\":\"cf1\",\"qual\":\"name5\",\"val\":\"data46dy\",\"ts\":1686871428423}]},\n{\"row\":\"abc12\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data48dy\",\"ts\":1686871365541}, {\"fam\":\"cf1\",\"qual\":\"name3\",\"val\":\"data48dy\",\"ts\":1686871385177}, {\"fam\":\"cf1\",\"qual\":\"name5\",\"val\":\"data48dy\",\"ts\":1686871429589}]},\n{\"row\":\"abc151\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data4dy\",\"ts\":1686871364442}, {\"fam\":\"cf1\",\"qual\":\"name3\",\"val\":\"data4dy\",\"ts\":1686871384342}, {\"fam\":\"cf1\",\"qual\":\"name5\",\"val\":\"data4dy\",\"ts\":1686871428266}]},\n{\"row\":\"abc161\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data46dy\",\"ts\":1686871364475}, {\"fam\":\"cf1\",\"qual\":\"name3\",\"val\":\"data46dy\",\"ts\":1686871384389}, {\"fam\":\"cf1\",\"qual\":\"name5\",\"val\":\"data46dy\",\"ts\":1686871428286}]},\n{\"row\":\"abc171\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data48dy\",\"ts\":1686871364514}, {\"fam\":\"cf1\",\"qual\":\"name3\",\"val\":\"data48dy\",\"ts\":1686871384413}, {\"fam\":\"cf1\",\"qual\":\"name5\",\"val\":\"data48dy\",\"ts\":1686871428310}]},\n{\"row\":\"abc21\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data4d\",\"ts\":1686871364292}, {\"fam\":\"cf1\",\"qual\":\"name3\",\"val\":\"data4d\",\"ts\":1686871384238}, {\"fam\":\"cf1\",\"qual\":\"name5\",\"val\":\"data4d\",\"ts\":1686871428190}]},\n{\"row\":\"abc31\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data46d\",\"ts\":1686871364334}, {\"fam\":\"cf1\",\"qual\":\"name3\",\"val\":\"data46d\",\"ts\":1686871384273}, {\"fam\":\"cf1\",\"qual\":\"name5\",\"val\":\"data46d\",\"ts\":1686871428212}]},\n{\"row\":\"abc41\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data48d\",\"ts\":1686871364366}, {\"fam\":\"cf1\",\"qual\":\"name3\",\"val\":\"data48d\",\"ts\":1686871384296}, {\"fam\":\"cf1\",\"qual\":\"name5\",\"val\":\"data48d\",\"ts\":1686871428233}]},\n{\"row\":\"abc7\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data4dy\",\"ts\":1686871364554}, {\"fam\":\"cf1\",\"qual\":\"name3\",\"val\":\"data4dy\",\"ts\":1686871384440}, {\"fam\":\"cf1\",\"qual\":\"name5\",\"val\":\"data4dy\",\"ts\":1686871428339}]},\n{\"row\":\"abc8\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data46dy\",\"ts\":1686871364579}, {\"fam\":\"cf1\",\"qual\":\"name3\",\"val\":\"data46dy\",\"ts\":1686871384467}, {\"fam\":\"cf1\",\"qual\":\"name5\",\"val\":\"data46dy\",\"ts\":1686871428357}]},\n{\"row\":\"abc9\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data48dy\",\"ts\":1686871364603}, {\"fam\":\"cf1\",\"qual\":\"name3\",\"val\":\"data48dy\",\"ts\":1686871384491}, {\"fam\":\"cf1\",\"qual\":\"name5\",\"val\":\"data48dy\",\"ts\":1686871428376}]},\n{\"row\":\"abcd21\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data4d\",\"ts\":1686773929335}]},\n{\"row\":\"abcd31\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data46d\",\"ts\":1686773929759}]},\n{\"row\":\"abcd41\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data48d\",\"ts\":1686773930854}]},\n{\"row\":\"b\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data46d\",\"ts\":1686774352566}]},\n{\"row\":\"b12\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data46d\",\"ts\":1686775274381}]},\n{\"row\":\"c\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data48d\",\"ts\":1686774355824}]},\n{\"row\":\"c12\", \"cells\": [{\"fam\":\"cf1\",\"qual\":\"name\",\"val\":\"data48d\",\"ts\":1686775275292}]}]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"f5ac8d0c-e7c2-342a-9144-58e51cb47a84","instanceIdentifier":"ed921a4d-3897-1018-a08a-7fb61061f20e","name":"Parse JSON","comments":"","position":{"x":472.0,"y":72.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Destination":"flowfile-attribute","Return Type":"json","Null Value Representation":"empty string","row":"$.row","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"row":{"name":"row","displayName":"row","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"0a14894d-0294-3692-a7be-40c4f569a93e","instanceIdentifier":"ed921a63-3897-1018-a4c8-0bddc9743f6c","name":"ScanHBase","comments":"","position":{"x":-56.0,"y":-328.0},"type":"org.apache.nifi.hbase.ScanHBase","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase-nar","version":"1.22.0"},"properties":{"scanhbase-table-name":null,"scanhbase-json-format":"full-row","scanhbase-limit":null,"scanhbase-start-rowkey":null,"scanhbase-filter-expression":null,"scanhbase-encode-charset":"UTF-8","scanhbase-bulk-size":"0","scanhbase-time-range-min":null,"scanhbase-decode-charset":"UTF-8","scanhbase-reversed-order":"false","block-cache":"true","hbase-fetch-row-authorizations":null,"scanhbase-columns":null,"scanhbase-client-service":null,"scanhbase-time-range-max":null,"scanhbase-end-rowkey":null},"propertyDescriptors":{"scanhbase-table-name":{"name":"scanhbase-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"scanhbase-json-format":{"name":"scanhbase-json-format","displayName":"JSON Format","identifiesControllerService":false,"sensitive":false},"scanhbase-limit":{"name":"scanhbase-limit","displayName":"Limit rows","identifiesControllerService":false,"sensitive":false},"scanhbase-start-rowkey":{"name":"scanhbase-start-rowkey","displayName":"Start rowkey","identifiesControllerService":false,"sensitive":false},"scanhbase-filter-expression":{"name":"scanhbase-filter-expression","displayName":"Filter expression","identifiesControllerService":false,"sensitive":false},"scanhbase-encode-charset":{"name":"scanhbase-encode-charset","displayName":"Encode Character Set","identifiesControllerService":false,"sensitive":false},"scanhbase-bulk-size":{"name":"scanhbase-bulk-size","displayName":"Max rows per flow file","identifiesControllerService":false,"sensitive":false},"scanhbase-time-range-min":{"name":"scanhbase-time-range-min","displayName":"Time range min","identifiesControllerService":false,"sensitive":false},"scanhbase-decode-charset":{"name":"scanhbase-decode-charset","displayName":"Decode Character Set","identifiesControllerService":false,"sensitive":false},"scanhbase-reversed-order":{"name":"scanhbase-reversed-order","displayName":"Reversed order","identifiesControllerService":false,"sensitive":false},"block-cache":{"name":"block-cache","displayName":"Block Cache","identifiesControllerService":false,"sensitive":false},"hbase-fetch-row-authorizations":{"name":"hbase-fetch-row-authorizations","displayName":"Authorizations","identifiesControllerService":false,"sensitive":false},"scanhbase-columns":{"name":"scanhbase-columns","displayName":"Columns","identifiesControllerService":false,"sensitive":false},"scanhbase-client-service":{"name":"scanhbase-client-service","displayName":"HBase Client Service","identifiesControllerService":true,"sensitive":false},"scanhbase-time-range-max":{"name":"scanhbase-time-range-max","displayName":"Time range max","identifiesControllerService":false,"sensitive":false},"scanhbase-end-rowkey":{"name":"scanhbase-end-rowkey","displayName":"End rowkey","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"e20ccc0e-4a5b-3bde-914e-9c831205c723","instanceIdentifier":"60183897-ed92-1a4d-d5d7-a27602ae30d2","name":"Parse JSON","comments":"","position":{"x":480.0,"y":456.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"val":"$.val","Destination":"flowfile-attribute","fam":"$.fam","Return Type":"json","Null Value Representation":"empty string","qual":"$.qual","Path Not Found Behavior":"ignore","ts":"$.ts"},"propertyDescriptors":{"val":{"name":"val","displayName":"val","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"fam":{"name":"fam","displayName":"fam","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"qual":{"name":"qual","displayName":"qual","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"ts":{"name":"ts","displayName":"ts","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"ec13f9d6-4b59-317a-ba40-abaa7b0cfc45","instanceIdentifier":"ed921a60-3897-1018-e9f2-37e2bde94559","name":"Parse JSON Value","comments":"","position":{"x":472.0,"y":648.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"val":"$.val","Destination":"flowfile-content","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"val":{"name":"val","displayName":"val","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"299c2ed6-d0c4-34bf-8e16-99970ff9ddb0","instanceIdentifier":"601838a3-ed92-1a4d-0fa0-223a2b952f98","name":"SplitJson","comments":"","position":{"x":472.0,"y":256.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.cells"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"61993447-d973-3814-ad18-730e1576307f","instanceIdentifier":"ed921a66-3897-1018-92a0-5565db1071d9","name":"","source":{"id":"0a14894d-0294-3692-a7be-40c4f569a93e","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"ScanHBase","comments":"","instanceIdentifier":"ed921a63-3897-1018-a4c8-0bddc9743f6c"},"destination":{"id":"72da2756-ee47-34c6-bc75-de21f93b4e3d","type":"FUNNEL","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Funnel","comments":"","instanceIdentifier":"ed921a65-3897-1018-9bd2-40bffffc217b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"1ed6cace-c9d9-3636-bcf0-c1079a7056e5","instanceIdentifier":"6018389f-ed92-1a4d-8b70-a0f23e8afb13","name":"","source":{"id":"e20ccc0e-4a5b-3bde-914e-9c831205c723","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Parse JSON","comments":"","instanceIdentifier":"60183897-ed92-1a4d-d5d7-a27602ae30d2"},"destination":{"id":"ec13f9d6-4b59-317a-ba40-abaa7b0cfc45","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Parse JSON Value","comments":"","instanceIdentifier":"ed921a60-3897-1018-e9f2-37e2bde94559"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"1909d1b2-220b-3b98-b89c-9ff405801e8b","instanceIdentifier":"ed921a4e-3897-1018-c45b-34b1ebfe3ed3","name":"","source":{"id":"f5ac8d0c-e7c2-342a-9144-58e51cb47a84","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Parse JSON","comments":"","instanceIdentifier":"ed921a4d-3897-1018-a08a-7fb61061f20e"},"destination":{"id":"299c2ed6-d0c4-34bf-8e16-99970ff9ddb0","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"SplitJson","comments":"","instanceIdentifier":"601838a3-ed92-1a4d-0fa0-223a2b952f98"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"a67709ec-b23f-335b-83d2-85e1480d6f49","instanceIdentifier":"ed921a64-3897-1018-272e-381524ac80cd","name":"","source":{"id":"0a14894d-0294-3692-a7be-40c4f569a93e","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"ScanHBase","comments":"","instanceIdentifier":"ed921a63-3897-1018-a4c8-0bddc9743f6c"},"destination":{"id":"ac485544-5f5d-380c-b433-da8ecef41f22","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"SplitRecord","comments":"","instanceIdentifier":"60183896-ed92-1a4d-f43c-f90d436fdda7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"7f584041-d6d9-3235-9065-cb805c0836af","instanceIdentifier":"60183898-ed92-1a4d-f89f-710c22ce4e8a","name":"","source":{"id":"ac485544-5f5d-380c-b433-da8ecef41f22","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"SplitRecord","comments":"","instanceIdentifier":"60183896-ed92-1a4d-f43c-f90d436fdda7"},"destination":{"id":"f5ac8d0c-e7c2-342a-9144-58e51cb47a84","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Parse JSON","comments":"","instanceIdentifier":"ed921a4d-3897-1018-a08a-7fb61061f20e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":999999,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"4d5d5a52-fc68-34ba-a150-92a9e3de876b","instanceIdentifier":"601838a4-ed92-1a4d-3584-19b897833a53","name":"","source":{"id":"299c2ed6-d0c4-34bf-8e16-99970ff9ddb0","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"SplitJson","comments":"","instanceIdentifier":"601838a3-ed92-1a4d-0fa0-223a2b952f98"},"destination":{"id":"e20ccc0e-4a5b-3bde-914e-9c831205c723","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Parse JSON","comments":"","instanceIdentifier":"60183897-ed92-1a4d-d5d7-a27602ae30d2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"8bc52abd-1ae4-36d2-b789-920352337c84","instanceIdentifier":"6018389a-ed92-1a4d-e526-4e39699a77f0","name":"","source":{"id":"a4d139e0-d508-331f-a651-f09dca664f7a","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"GenerateFlowFile","comments":"","instanceIdentifier":"60183899-ed92-1a4d-c062-0734a669df77"},"destination":{"id":"ac485544-5f5d-380c-b433-da8ecef41f22","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"SplitRecord","comments":"","instanceIdentifier":"60183896-ed92-1a4d-f43c-f90d436fdda7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"ca60995a-f36d-321e-b909-fa9f03e9f03b","instanceIdentifier":"601838a5-ed92-1a4d-416d-ed5832439774","name":"","source":{"id":"299c2ed6-d0c4-34bf-8e16-99970ff9ddb0","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"SplitJson","comments":"","instanceIdentifier":"601838a3-ed92-1a4d-0fa0-223a2b952f98"},"destination":{"id":"af6f149a-f0d4-3d9e-810e-91fa2479a04d","type":"FUNNEL","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Funnel","comments":"","instanceIdentifier":"6018389b-ed92-1a4d-ca9e-d0de5e3bb99e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"8ac843dc-a1c9-3327-946d-2fd622000e2c","instanceIdentifier":"ed921a62-3897-1018-8750-46e5df3f9ebe","name":"","source":{"id":"ec13f9d6-4b59-317a-ba40-abaa7b0cfc45","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Parse JSON Value","comments":"","instanceIdentifier":"ed921a60-3897-1018-e9f2-37e2bde94559"},"destination":{"id":"eb5c427b-c457-3b9b-b9f8-6f92fdbe3939","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"PutHBaseCell","comments":"","instanceIdentifier":"6018389e-ed92-1a4d-0d00-4b7c1028d3d7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"f8a4bdf4-b3c0-3772-afe5-57af647269be","instanceIdentifier":"601838a0-ed92-1a4d-a37a-cef22cd5b47f","name":"","source":{"id":"e20ccc0e-4a5b-3bde-914e-9c831205c723","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Parse JSON","comments":"","instanceIdentifier":"60183897-ed92-1a4d-d5d7-a27602ae30d2"},"destination":{"id":"af6f149a-f0d4-3d9e-810e-91fa2479a04d","type":"FUNNEL","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Funnel","comments":"","instanceIdentifier":"6018389b-ed92-1a4d-ca9e-d0de5e3bb99e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"86ee58ea-9e48-3847-a7a3-5fb136b73146","instanceIdentifier":"ed921a4f-3897-1018-8e1a-29a4cb952f85","name":"","source":{"id":"f5ac8d0c-e7c2-342a-9144-58e51cb47a84","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Parse JSON","comments":"","instanceIdentifier":"ed921a4d-3897-1018-a08a-7fb61061f20e"},"destination":{"id":"af6f149a-f0d4-3d9e-810e-91fa2479a04d","type":"FUNNEL","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Funnel","comments":"","instanceIdentifier":"6018389b-ed92-1a4d-ca9e-d0de5e3bb99e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"58d491a9-5983-3112-ab75-01a137906b0c","instanceIdentifier":"ed921a61-3897-1018-e222-4316c1e4ed29","name":"","source":{"id":"ec13f9d6-4b59-317a-ba40-abaa7b0cfc45","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Parse JSON Value","comments":"","instanceIdentifier":"ed921a60-3897-1018-e9f2-37e2bde94559"},"destination":{"id":"1419d17b-5bd6-3a1b-a37c-ec5b5fcf0774","type":"FUNNEL","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Funnel","comments":"","instanceIdentifier":"ed921a57-3897-1018-f165-33ed610ae913"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"99424ef0-9c6a-3bcb-af3d-f6dadbd1014a","instanceIdentifier":"6018389c-ed92-1a4d-2cdc-38533d61d5bb","name":"","source":{"id":"ac485544-5f5d-380c-b433-da8ecef41f22","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"SplitRecord","comments":"","instanceIdentifier":"60183896-ed92-1a4d-f43c-f90d436fdda7"},"destination":{"id":"af6f149a-f0d4-3d9e-810e-91fa2479a04d","type":"FUNNEL","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Funnel","comments":"","instanceIdentifier":"6018389b-ed92-1a4d-ca9e-d0de5e3bb99e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"ee9ead3d-14b1-30ce-912d-14dd32795eb4","instanceIdentifier":"ed921a58-3897-1018-cce0-c4a361fa1afb","name":"","source":{"id":"eb5c427b-c457-3b9b-b9f8-6f92fdbe3939","type":"PROCESSOR","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"PutHBaseCell","comments":"","instanceIdentifier":"6018389e-ed92-1a4d-0d00-4b7c1028d3d7"},"destination":{"id":"1419d17b-5bd6-3a1b-a37c-ec5b5fcf0774","type":"FUNNEL","groupId":"661a4f8d-3613-3c77-9a50-24b96b930512","name":"Funnel","comments":"","instanceIdentifier":"ed921a57-3897-1018-f165-33ed610ae913"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"}],"labels":[],"funnels":[{"identifier":"1419d17b-5bd6-3a1b-a37c-ec5b5fcf0774","instanceIdentifier":"ed921a57-3897-1018-f165-33ed610ae913","position":{"x":1176.0,"y":792.0},"componentType":"FUNNEL","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"af6f149a-f0d4-3d9e-810e-91fa2479a04d","instanceIdentifier":"6018389b-ed92-1a4d-ca9e-d0de5e3bb99e","position":{"x":1320.0,"y":168.0},"componentType":"FUNNEL","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"},{"identifier":"72da2756-ee47-34c6-bc75-de21f93b4e3d","instanceIdentifier":"ed921a65-3897-1018-9bd2-40bffffc217b","position":{"x":94.000006859525,"y":-47.99704816907206},"componentType":"FUNNEL","groupIdentifier":"661a4f8d-3613-3c77-9a50-24b96b930512"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":100000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{"0b19172a-122d-3548-aab3-5f048280cf5a":{"identifier":"0b19172a-122d-3548-aab3-5f048280cf5a","name":"CDP Infer JsonTreeReader"},"481ccc9e-1251-3ff6-88f6-dce72778c942":{"identifier":"481ccc9e-1251-3ff6-88f6-dce72778c942","name":"Standard Inherit JsonRecordSetWriter"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}